* {
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: brown;
}

nav {
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    position: fixed;
    top: 0;
}

#link {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* background-color: blueviolet; */
}

nav ul {

    /* background-color: aqua; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

nav ul li {
    list-style: none;
    color: beige;
    margin-left: 2%;
    border: 1px solid gray;
    padding: 3px;
    min-width: 100px;
}

#nav_ajout {
    position: fixed;
    right: 0;
    top: 50%;
    background-color: rgba(0, 0, 0, 0.466);
    padding: 5px;
}

#nav_ajout_link {
    display: flex;
    flex-direction: column;

}

#nav_ajout ul li {
    list-style: none;
}

#nav_ajout a {
    color: white;
}

.user li {
    border: none;
}

.admin li a {
    font-size: xx-small;
}

nav ul li a {

    color: beige;
}

h2 {
    color: white;
}

h3 {
    color: white;
}

p {
    color: white;
}

label {
    color: white;
}

#contenu_container {
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    background-color: brown;
    justify-content: center;
    align-items: center;
    padding: 2%;
}

#info_film {
    display: flex;
    flex-direction: row;
    gap: 10%;
    margin: 20px;
    background-color: white;
    width: 50%;
    padding: 2%;
}

#img_container {
    width: 300px;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;

}

img {
    object-fit: cover;
    width: 90%;
    height: 90%;
}

#info_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}

#info_container p {
    color: black;
    font-size: x-large;

}
#genres_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#info_container .genre{
    font-size: large;
}
#info_container h4 {
    color: gray;
}

#resumee {
    background-color: white;
    padding: 2%;
}

#resumee p {
    color: black;
}

#casting {
    width: 100%;
    margin-top: 5%;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 2%;
}

#acteurs_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

#acteur_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid brown;
    padding: 2%;
    width: 25%;
}

#acteur_container h5 {
    color: black;
}
#acteur_container p{
    color: gray;
    font-size: x-small;
}

/* pour afficher list films */

#films_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 90%;
}

#film_container {
    width: 25%;
    height: 400px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    /* padding-top: 1%; */
}

.affiche_container {
    width: 100%;
    height: 90%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.affiche_container img {
    max-width: 90%;
    max-height: 90%;
    object-fit: cover;
}

.titre {
    height: 10%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titre a {
    color: white;
    font-size: large;
}